# Tymczasowe światy testowe utworzone podczas odzysku 2026-07-24.
# Można usunąć te foldery z dysku (worlds/moj_swiat_TEST, worlds/moj_swiat_TEST2)
# i potem skasować te wpisy.
worlds/moj_swiat_TEST/
worlds/moj_swiat_TEST2/
